@use "../../styles/_var" as var;

.container {
  background: #202736;
  background: linear-gradient(to bottom, #181d23 0%, #202736 80%);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
  z-index: 1;
}

.container::before {
  content: "";
  position: fixed;
  background: url("/images/stars.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
  opacity: 0;
  animation: stars-move-in 1000ms 300ms forwards;
}

@keyframes stars-move-in {
  from {
    background-position-y: -100px;
  }
  to {
    opacity: 1;
    background-position-y: 0;
  }
}

.title {
  font-family: var.$font-play;
  color: var.$white;
  font-size: clamp(4rem, 3.333vw + 1rem, 5rem);
  & > span {
    font-weight: 600;
    color: var.$pink;
  }
}
.wrapper {
  width: fit-content;
  position: absolute;
  right: 0;
  top: 50%;
  right: 25%;
  opacity: 0;
  transform: translate(0, -50%);
  animation: text-fade-in 1000ms 800ms forwards;
}

@keyframes text-fade-in {
  from {
    right: 0;
  }
  to {
    opacity: 1;
    right: 25%;
  }
}

.buttons {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}
.button {
  border: 2px solid var.$pink;
  background-color: var.$pink;
  &:hover,
  &:active {
    transition: all 0.3s ease;
    background-color: transparent;
  }
}
