@use "../../styles/_var" as var;

.advantages {
  background-color: var.$blue;
  clip-path: polygon(0 0, 20% 100px, 100% 0, 100% 100%, 0 100%);
  min-height: 100vh;
  width: 100%;
  padding: 6rem 3rem;
  position: relative;
  margin: -100px 0 70px;
  z-index: 1;
  color: var.$white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var.$font-manrope;
}

.container {

  display: grid;
  grid-template-columns: 1fr;
  align-self: center;
  gap: 3rem;
}

.wrapper1,
.wrapper2,
.wrapper3,
.wrapper4 {
  border: 2px solid var.$pink;
  background-color: var.$white;
  padding: 2rem;
  opacity: 0;
}

.wrapper1 {
  animation: text-fade 1000ms 800ms forwards;
}

.wrapper2 {
  animation: text-fade 3000ms 1800ms forwards;
}

.wrapper3 {
  animation: text-fade 4000ms 2800ms forwards;
}

.wrapper4 {
  animation: text-fade 6000ms 3800ms forwards;
}

@keyframes text-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.subtitle {
  font-family: var.$font-play;
  font-size: clamp(1.5rem, 2.5vw - 0.75rem, 2.25rem);
  line-height: 150%;
  color: var.$pink;
  font-weight: 600;
}

.paragraph {
  padding-bottom: 0.5rem;
  font-size: clamp(1.25rem, 1.667vw - 0.25rem, 1.75rem);
  line-height: 150%;
  color: var.$blue;
}

.paragraph2 {
  opacity: 0;
  margin-top: 3rem;
  font-size: 2.75rem;
  line-height: 150%;
  color: var.$pink;
  text-align: center;
  animation: text-fade-down 1000ms 5200ms forwards;
}

@keyframes text-fade-down {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: var.$bp-1024) {
  .container {
    gap: 2rem;
    padding: 1.5rem 0;
  }

  .wrapper1,
  .wrapper2,
  .wrapper3,
  .wrapper4 {
    padding: 2rem;
  }
}

@media (max-width: var.$bp-768) {
  .advantages {
    clip-path: polygon(0 0, 10% 60px, 100% 0, 100% 100%, 0 100%);
    padding: 5rem 1.5rem;
    margin: -60px 0 50px;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .paragraph {
    font-size: 1.25rem;
  }

  .paragraph2 {
    font-size: 2rem;
  }
}

@media (max-width: var.$bp-480) {
  .advantages {
    clip-path: polygon(0 0, 10% 40px, 100% 0, 100% 100%, 0 100%);
    margin: -40px 0 40px;
    padding: 4rem 1rem;
  }
}
