@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-Regular.ttf");
}
@font-face {
  font-family: "Manrope-Light";
  src: url("/fonts/Manrope-ExtraLight.ttf");
}

@font-face {
  font-family: "Play";
  src: url("/fonts/Play-Regular.ttf");
}

$black: #06010c;
$white: #ffffff;
$pink: #fc04ba;
$gray: #d2cdd8;
$blue: #071727;

$font-manrope: "Manrope", "Montserrat", Arial, Helvetica, sans-serif;
$font-manrope-light: "Manrope-Light", Arial, Helvetica, sans-serif;
$font-play: "Play", Arial, Helvetica, sans-serif;
