.main__container {
  background: url("../assets/images/pexels-felixmittermeier-956981.jpg");
  height: 90vh;
}
.main__title {
  font-size: xx-large;
  color: white;
  font-weight: bold;
}
.color {
  color: aqua;
}
